<div style='padding:20px 10px 10px 10px;margin:10px;top:10px;left:10px;right:10px;bottom:0px;border-width:1px;border-style:solid;border-color:#000000;'>
	<p style="font-size:18px;margin:0px;padding:0px;line-height:20px;margin-bottom:4px;font-family:DiavloBook">
	#articletitle#
	</p>
	<p style="font-size:12px;margin:0px;padding:0px;line-height:18px;margin-bottom:10px;font-family:DiavloBook">
		#articlesubtitle#
	</p>
	<p class='minidefaultfont' style="text-align:justify;">
		#article#
		<br><br><div class='authorbox' style='font-size:12px'>#author#</div>
	</p>
	<p class='minidefaultfont' style="text-align:justify;">
		#article2#
	</p>
	<div style="height:150px"></div>
</div>
<div style='font-size:12px;position:absolute;padding:5px;top:0px;left:30px;width:120px;background-color:#FF6A00;font-family:DiavloBook;white-space:nowrap;color:#ffffff'>
#magazinetitle# ##magazinenumber#
</div>
