<div style='position:absolute;left:0px;right:0px;top:0px;bottom:0px;background-color:#D9D7AD;background-image:url(#bundlepath#/images/cover.png);background-repeat:no-repeat;background-position:center; '>
</div>
<div class="mfiverotation" style='position:absolute;left:-60px;top:-60px;right:0px;font-family:DiavloBook;font-size:12px;height:130px;text-align:center;background-color:#37485C;'>
</div>
<div class="mfiverotation" style='color:#ffffff;position:absolute;left:0px;top:25px;right:0px;font-family:DiavloBook;font-size:12px;height:80px;text-align:center'>
	#header#
</div>
<div class="mfiverotation" style='color:#ffffff;position:absolute;left:0px;top:43px;right:0px;font-family:DiavloBook;font-size:10px;height:80px;text-align:center'>
	#subheader#
</div>
<div class="hugeborderradius mfiverotation" style='position:absolute;top:95px;right:10px;font-family:DiavloBook;font-size:20px;background-color:#FF6A00;padding:10px;color:#ffffff'>
	MINI ##magazinenumber#
</div>
<div class="mfiverotation" style='position:absolute;left:-20px;top:65px;right:-20px;font-family:DiavloBook;font-size:30px;font-weight:bold;background-color:#FF6A00;padding:10px 0px 0px 10px;height:40px;line-height:40px;color:#ffffff;text-transform: uppercase;white-space:nowrap;'>
	&nbsp;&nbsp;#magazinetitle#
</div>
<div class="smallborderradius" style='position:absolute;right:20px;left:20px;bottom:70px;font-family:DiavloBook;font-size:12px;background-color:#37485C;color:#D9D7AD;padding:8px'>
	#details#
</div>
<div style='color:#ffffff;position:absolute;left:0px;bottom:0px;right:0px;padding-top:5px;padding-bottom:5px;font-family:DiavloBook;font-size:12px;text-align:center;border-top:1px dashed #000000;background-color:rgba(0,0,0,0.5)'>
	#credits#
</div>
