<div style="padding:20px 100px 10px 100px">
<p style="font-family:DiavloBook;font-size:40px;font-weight:bold;text-align:center;margin:0px 0px 10px 0px">#articletitle#</p>
<p style="font-family:DiavloBook;font-size:20px;text-align:center;margin:0px;">#articlesubtitle#</p>
<p style="text-align:center;margin:30px">~ - ~<p>
<p style="text-align:justify;line-height:30px;font-size:18px">
#article#<br>
#article2#
</p>
</div>
<div widget="drawer" interactive="yes" style="padding:0px 100px 0px 100px">
	<div class="defaultfont smallborderradius" drawerid="close" style="background-color:#1C232E;color:#ffffff;width:100%;padding:10px;">
		<div style="float:left;border-bottom:8px solid transparent; border-left:8px solid #ffffff;border-top:8px solid transparent;height:0px;width:0px;margin-right:16px"></div>
		Want some highlights of the interactive content? Click here!
	</div>
	<div class="defaultfont smallborderradius" drawerid="open" style="background-color:#1C232E;color:#ffffff;width:100%;padding:10px">
		<div style="float:left;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 8px solid #ffffff; height: 0;width:0px;margin-right:16px;"></div>
		Turn your device to #otherorientation# to see...<br>
		<ul style="line-height:40px">
		<li><span class="smallborderradius" style="background-color:#FF6A00;padding:5px;margin-right:5px">Photos!</span> #phototext1# See this picture and more!</li>
		<li><span class="smallborderradius" style="background-color:#FF6A00;padding:5px">On Youtube!</span> #videotext#</li>
		<li><span class="smallborderradius" style="background-color:#FF6A00;padding:5px">Music!</span> #audiostoppedtext1# and #audiostoppedtext2#</li>
		<li><span class="smallborderradius" style="background-color:#FF6A00;padding:5px">Game!</span> Can you guess the mysterious song?</li>
		</ul>
	</div>
</div>
<div style="padding:20px 100px 10px 100px">
<p style="text-align:center;margin:30px">~ - ~<p>
<p style="text-align:center">
<i>Turn your device to #otherorientation# for the interactive version of this page.</i>
</p>
</div>