<div style="padding:20px 100px 10px 100px">
<p style="font-family:DiavloBook;font-size:40px;font-weight:bold;text-align:center;margin:0px 0px 10px 0px">#articletitle#</p>
<p style="font-family:DiavloBook;font-size:20px;text-align:center;margin:0px;">#articlesubtitle#</p>
<p style="text-align:center;margin:30px">~ - ~<p>
<p style="text-align:justify;line-height:30px;font-size:18px">
#article#<br>
#article2#<br>
<br><div class='authorbox'>#author#</div>
<br>
<div class="bigborderradius" style="position:relative;background-color:#1C232E;padding:10px;min-height:100px">
	<div style="position:absolute;left:10px;top:10px;width:100px;height:100px;background-image:url('#bundlepath#/media/#whophoto#');background-repeat:no-repeat"></div>
	<div style="margin-left:110px;color:#ffffff;font-family:DiavloBook;margin-bottom:5px;">#whotitle#</div>
	<div class="defaultfont" style="margin-left:110px;color:#ffffff;font-size:12px;text-align:justify;line-height:12px;">#whobio#</div>
</div>
</p>
</div>
<div style="padding:20px 100px 10px 100px">
<p style="text-align:center;margin:30px">~ - ~<p>
<p style="text-align:center">
<i>Turn your device to #otherorientation# for the rich version of this page.</i>
</p>
</div>