<div style='position:absolute;top:61px;left:31px;right:31px;bottom:0px'>
	<div class="leftside" style='float:left;width:50%;height:100%;'>
		<p class="defaulttitle" style="line-height:45px;margin-top:30px;text-align:right">#titleleft#&nbsp;</p>
		<p class='defaultsubtitle' style="text-align:right">
			#subtitleleft#&nbsp;
		</p>
	</div>
	<div class="rightside" style='float:left;width:50%;height:100%;'>
		<p class="defaulttitle" style="line-height:45px;margin-top:30px;text-align:left">&nbsp;#titleright#</p>
		<p class='defaultsubtitle' style="text-align:lrft">
			&nbsp;#subtitleright#
		</p>
	</div>
</div>
<div class='defaultfont leftside' style="position:absolute;right:50%;left:60px;height:150px;top:470px;margin-right:30px;text-align:center">#squareleft#</div>
<div class='defaultfont rightside' style="position:absolute;left:50%;right:60px;height:150px;top:470px;margin-left:30px;text-align:center">#squareright#</div>

<div class='defaultfont leftside' style="position:absolute;right:50%;left:60px;bottom:20px;margin-right:30px;text-align:right;">
#articleleft#
</div>
<div class='defaultfont rightside' style="position:absolute;left:50%;right:60px;bottom:20px;margin-left:30px;text-align:left;">
#articleright#
</div>
