<div style='position:absolute;top:10px;left:50px;right:50px;bottom:0px;'>
<p class="defaulttitle" style="line-height:45px;margin-bottom:10px;text-align:center">
#articletitle#
</p>
<p class='defaultsubtitle' style='text-align:center'>
#articlesubtitle#
</p>
</div>
<div style="position:absolute;top:130px;left:50px;right:50%;bottom:10px">
	<div class="defaultfont" style="position:absolute;left:0px;right:120px;text-align:right;height:100%">#articleleft#</div>
</div>
<div style="position:absolute;top:130px;right:50px;left:50%;bottom:10px">
	<div class="defaultfont" style="position:absolute;right:0px;left:120px;text-align:left;height:100%">#articleright#</div>
</div>
