<div class="bigborderradius" style="position:absolute;left:50px;top:80px;width:210px;background-color:#1C232E;padding:10px;">
	<div style="float:left;width:100px;height:100px;margin:0px 10px 10px 0px;background-image:url('#bundlepath#/media/#whophoto#');background-repeat:no-repeat"></div>
	<div style="color:#ffffff;font-family:DiavloBook;padding:0px 0px 10px 0px">#whotitle#</div>
	<div class="defaultfont" style="color:#ffffff;font-size:12px;text-align:justify;line-height:12px">#whobio#</div>
</div>
