<div style='position:absolute;left:0px;right:0px;top:0px;bottom:0px;background-color:#D9D7AD;background-image:url(#bundlepath#/images/cover.png);background-repeat:no-repeat;background-position:center; '>
</div>
<div class="mfiverotation" style='position:absolute;left:-60px;top:-60px;right:0px;font-family:DiavloBook;font-size:16px;height:160px;text-align:center;background-color:#37485C;'>
</div>
<div class="mfiverotation" style='color:#ffffff;position:absolute;left:0px;top:35px;right:0px;font-family:DiavloBook;font-size:16px;height:80px;text-align:center'>
	#header#
</div>
<div class="mfiverotation" style='color:#ffffff;position:absolute;left:0px;top:58px;right:0px;font-family:DiavloBook;font-size:10px;height:80px;text-align:center'>
	#subheader#
</div>
<div class="mfiverotation" style='position:absolute;left:-20px;top:90px;right:-20px;font-family:DiavloBook;font-size:80px;font-weight:bold;background-color:#FF6A00;padding:10px 0px 0px 10px;height:80px;line-height:80px;color:#ffffff;text-transform: uppercase;white-space:nowrap;letter-spacing:-1px'>
	&nbsp;#magazinetitle#
</div>
<div style='position:absolute;right:20px;width:320px;top:210px;bottom:100px;font-family:DiavloBook;font-size:20px;color:#37485C;'>
Issue ##magazinenumber#
</div>
<div class="hugeborderradius" style='position:absolute;right:20px;top:240px;bottom:100px;width:300px;font-family:DiavloBook;font-size:20px;background-color:#37485C;color:#D9D7AD;padding:20px'>
	#details#
</div>
<div style='color:#ffffff;position:absolute;left:0px;bottom:0px;right:0px;padding-top:20px;height:50px;font-family:DiavloBook;font-size:16px;text-align:center;border-top:1px dashed #000000;background-color:rgba(0,0,0,0.5)'>
	#credits#
</div>
