<div style='position:absolute;padding:5px 10px 5px 10px;top:0px;left:30px;width:180px;background-color:#FF6A00;font-family:DiavloBook;white-space:nowrap;color:#ffffff'>
#magazinetitle# ##magazinenumber#
</div>
<div style='position:absolute;padding:5px 10px 5px 10px;top:0px;left:230px;font-family:DiavloBook;white-space:nowrap;color:#000000'>
#articletitle#
</div>
<div style='position:absolute;top:60px;left:30px;right:30px;bottom:0px;border-width:1px 1px 0px 1px;border-style:solid;border-color:#000000;'></div>
