<div style="position:absolute;top:130px;width:100px;right:50%;">
	<div interactive="yes" widget="geobox" class="smallblacktextshadow" style="font-family:DiavloBook;font-size:18;position:absolute;width:200px;height:390px;line-height:390px;text-align:center;color:#ffffff;background-image:url('#bundlepath#/images/earth.png')">world.</div>
</div>
<div dontrasterize="yes" style="position:absolute;top:535px;width:100px;right:50%;">
	<div class="defaultfont" style="position:absolute;width:200px;text-align:center;letter-spacing:-1px">
	click on the box to show where you has been. not in this magazine. in the world.
	</div>
</div>
