<div interactive="yes" widget="fullscreenimage" fullscreenimage="#bundlepath#/media/#photo1#-zoomed.png" fullscreentext="#photoinfo1#" style='position:absolute;right:50px;top:80px;width:220px;overflow:hidden'>
	<img src='#bundlepath#/media/#photo1#.png' style='float:left;width:100%'>
	<div class='defaultsmallfont' style='float:left;position:relative;width:210px;background-color:#FF6A00;color:#ffffff;padding:10px;line-height:14px'>
		<div style='position:absolute;right:25px;top:-10px;width: 0px; height: 0px;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #FF6A00;'></div>
		#phototext1#
	</div>
</div>
<div interactive="yes" widget="fullscreenimage" fullscreenimage="#bundlepath#/media/#photo2#-zoomed.png" fullscreentext="#photoinfo2#"  style='position:absolute;right:50px;top:305px;width:220px;overflow:hidden'>
	<img src='#bundlepath#/media/#photo2#.png' style='float:left;width:100%'>
	<div class='defaultsmallfont' style='float:left;position:relative;width:210px;background-color:#FF6A00;color:#ffffff;padding:10px;line-height:14px'>
		<div style='position:absolute;right:25px;top:-10px;width: 0px; height: 0px;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #FF6A00;'></div>
		#phototext2#
	</div>
</div>
	
<div widget="audioclip" interactive='yes' audiofiles="audio/ogg:issues/mediaserver/#audio1#.ogg,audio/mpeg:issues/mediaserver/#audio1#.mp3" class='defaultsmallfont' style='position:absolute;right:50px;top:530px;width:220px'>
	<div showon='stop' style='background-color:#FF6A00;color:#ffffff;padding:10px'>
		<div style="float:left;border-bottom:8px solid transparent; border-left:8px solid #ffffff;border-top:8px solid transparent;height:0px;width:0px;margin-right:16px"></div>
		#audiostoppedtext1#
	</div>
	<div showon='playing' style='background-color:#37485C;color:#ffffff;padding:10px'>
		<div style="float:left;width:16px;height:16px;background-color:white;margin-right:8px"></div>
		#audioplayingtext1#
	</div>
</div>

<div widget="audioclip" interactive='yes' audiofiles="audio/ogg:issues/mediaserver/#audio2#.ogg,audio/mpeg:issues/mediaserver/#audio2#.mp3" class='defaultsmallfont' style='position:absolute;right:50px;top:580px;width:220px'>
	<div showon='stop' style='background-color:#FF6A00;color:#ffffff;padding:10px'>
		<div style="float:left;border-bottom:8px solid transparent; border-left:8px solid #ffffff;border-top:8px solid transparent;height:0px;width:0px;margin-right:16px"></div>
		#audiostoppedtext2#
	</div>
	<div showon='playing' style='background-color:#37485C;color:#ffffff;padding:10px'>
		<div style="float:left;width:16px;height:16px;background-color:white;margin-right:8px"></div>
		#audioplayingtext2#
	</div>
</div>
