<div widget="dragboard" interactive="yes" class="bigblackshadow" style="overflow:hidden;position:absolute;right:0px;top:0px;bottom:0px;width:300px;background-image:url('#bundlepath#/images/table.png')">
	<div class="defaultfont" style="position:absolute;top:10px;left:0px;width:100%;letter-spacing:-1px;text-align:center;color:white">
		drag the tokens around - use multiple touches!
	</div>
	<div class="defaultfont hugeborderradius"  style="position:absolute;bottom:20px;left:20px;width:260px;height:180px;border:2px solid white;line-height:180px;text-align:center;font-size:60px;letter-spacing:10px;color:white">
		BET
		<div class="defaultfont" style="position:absolute;bottom:10px;width:100%;letter-spacing:-1px;">
			double tap everywhere to reset
		</div>
	</div>
	<div draggable="yes" style="position:absolute;left:10px;top:50px;width:100px;height:110px;z-index:5">
		<div class="fichesorange1">
		</div>	
		<div class="fichesorange2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="mtwentyrotation defaultfont fichestext">
			10
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:30px;top:60px;width:100px;height:110px;z-index:4">
		<div class="fichesorange1">
		</div>	
		<div class="fichesorange2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="mtenrotation">
			10
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:20px;top:70px;width:100px;height:110px;z-index:3">
		<div class="fichesorange1">
		</div>	
		<div class="fichesorange2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="mthirtyrotation">
			10
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:30px;top:60px;width:100px;height:110px;z-index:2">
		<div class="fichesorange1">
		</div>	
		<div class="fichesorange2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="msixtyrotation">
			10
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:10px;top:70px;width:100px;height:110px;z-index:1">
		<div class="fichesorange1">
		</div>	
		<div class="fichesorange2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="mhundredrotation">
			10
		</div>	
	</div>
	<!-- blue pile -->
	<div draggable="yes" style="position:absolute;left:180px;top:60px;width:100px;height:110px;z-index:5">
		<div class="fichesblue1">
		</div>	
		<div class="fichesblue2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="mtwentyrotation" >
			50
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:160px;top:60px;width:100px;height:110px;z-index:4">
		<div class="fichesblue1">
		</div>	
		<div class="fichesblue2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="mtenrotation">
			50
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:190px;top:70px;width:100px;height:110px;z-index:3">
		<div class="fichesblue1">
		</div>	
		<div class="fichesblue2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="mthirtyrotation">
			50
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:140px;top:60px;width:100px;height:110px;z-index:2">
		<div class="fichesblue1">
		</div>	
		<div class="fichesblue2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="msixtyrotation">
			50
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:180px;top:70px;width:100px;height:110px;z-index:1">
		<div class="fichesblue1">
		</div>	
		<div class="fichesblue2">
		</div>
		<div class="ficheshalo">
		</div>	
		<div class="defaultfont fichestext" class="mhundredrotation">
			50
		</div>	
	</div>
</div>