<div dontrasterize="yes" style="position:absolute;top:180px;width:100px;height:200px;right:50%;">
	<div interactive="yes" onobjecttap="widget.gotosheet(null,#box1horz#,#box1vert#)" class="smallblacktextshadow smallblackshadow" style="font-family:DiavloBook;position:absolute;width:200px;height:200px;text-align:center;line-height:200px;color:#ffffff;letter-spacing:2px;font-size:38px;background-image:url('#bundlepath#/thumbs/#box1image#.png');background-position:center center">#box1#</div>
</div>
<div dontrasterize="yes" style="position:absolute;top:390px;width:100px;height:100px;right:50%;">
	<div interactive="yes" onobjecttap="widget.gotosheet(null,#box2horz#,#box2vert#)" class="smallblackshadow smallblacktextshadow" style="font-family:DiavloBook;position:absolute;width:200px;height:100px;text-align:center;line-height:100px;color:#ffffff;letter-spacing:2px;font-size:38px;background-image:url('#bundlepath#/thumbs/#box2image#.png');background-position:center center">#box2#</div>
</div>
<div dontrasterize="yes" style="position:absolute;top:500px;width:100px;height:50px;right:50%;">
	<div interactive="yes" onobjecttap="widget.gotosheet(null,#box3horz#,#box3vert#)" class="smallblackshadow smallblacktextshadow" style="font-family:DiavloBook;position:absolute;width:200px;height:50px;text-align:center;line-height:50px;color:#ffffff;letter-spacing:2px;font-size:38px;background-image:url('#bundlepath#/thumbs/#box3image#.png');background-position:center center">#box3#</div>
</div>
<div dontrasterize="yes" style="position:absolute;top:560px;width:100px;height:50px;right:50%;">
	<div interactive="yes" onobjecttap="widget.gotopage(null,#box4page#)" class="smallblackshadow smallblacktextshadow" style="font-family:DiavloBook;position:absolute;width:200px;height:50px;text-align:center;line-height:50px;color:#ffffff;letter-spacing:2px;font-size:38px;background-image:url('#bundlepath#/thumbs/#box4image#.png');background-position:bottom right">#box4#</div>
</div>
<div dontrasterize="yes" style="position:absolute;top:620px;width:100px;right:50%;">
	<div class="defaultfont" style="position:absolute;width:200px;text-align:center;letter-spacing:-1px">
	#boxtitle#
	</div>
</div>
