<div class="bigblackshadow" widget="dragboard" interactive="yes" style="overflow:hidden;position:absolute;right:0px;top:0px;bottom:0px;width:300px;background-image:url('#bundlepath#/images/table.png')">
	<div class="defaultfont" style="position:absolute;top:10px;left:0px;width:100%;letter-spacing:-1px;text-align:center;color:white">
		drag the tokens around - use multiple touches!
	</div>
	<div class="defaultfont hugeborderradius" style="position:absolute;bottom:20px;left:20px;width:260px;height:180px;border:2px solid white;line-height:180px;text-align:center;font-size:60px;letter-spacing:10px;color:white">
		BET
		<div class="defaultfont" style="position:absolute;bottom:10px;width:100%;letter-spacing:-1px;">
			double tap everywhere to reset
		</div>
	</div>
	<!-- orange pile -->	
	<div draggable="yes" style="position:absolute;left:10px;top:50px;width:100px;height:110px;z-index:5">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenorange.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont mthirtyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px">
				10
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:15px;top:50px;width:100px;height:110px;z-index:4">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenorange.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont mtwentyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px">
				10
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:10px;top:55px;width:100px;height:110px;z-index:3">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenorange.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont mfourtyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px">
				10
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:5px;top:50px;width:100px;height:110px;z-index:2">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenorange.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont tenrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px;">
				10
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:10px;top:40px;width:100px;height:110px;z-index:1">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenorange.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont twentyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px">
				10
			</div>	
		</div>	
	</div>	
	<!-- blue pile -->
	<div draggable="yes" style="position:absolute;left:185px;top:40px;width:100px;height:110px;z-index:5">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenblue.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont fiftyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px">
				50
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:175px;top:50px;width:100px;height:110px;z-index:4">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenblue.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont tenrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px">
				50
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:180px;top:55px;width:100px;height:110px;z-index:3">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenblue.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont twentyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px">
				50
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:185px;top:45px;width:100px;height:110px;z-index:2">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenblue.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont thirtyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px;">
				50
			</div>	
		</div>	
	</div>
	<div draggable="yes" style="position:absolute;left:170px;top:40px;width:100px;height:110px;z-index:1">
		<div style="position:absolute;left:0px;top:5px;width:110px;height:110px;background-image:url('#bundlepath#/images/tokenblue.png');background-repeat:no-repeat;background-position:center;">
			<div class="defaultfont fiftyrotation" style="position:absolute;width:110px;height:105px;line-height:105px;text-align:center;color:#ffffff;font-size:40px;letter-spacing:-3px;">
				50
			</div>	
		</div>	
	</div>	
</div>